ul {
  list-style: none;
}

li h2 {
  text-align: center;
}

li.column {
  float: left;
  min-width: 150px;
}

ul.cards li {
  text-align: center;
  padding: 5px;
  margin: 5px;
  background-color: yellow;
}