#board, #board ul {
    list-style: none;
}

#board li h2 {
    text-align: center;
}

li.column {
    float: left;
    width: 120px;
}

ul.cards li {
    width: 100%;
    text-align: center;
    padding: 5px;
    margin: 5px 0px;
    background-color: yellow;
}

#scenarios {
    overflow: auto;
    white-space: nowrap;
}

.legend {
    display: inline-block;
    vertical-align: top;
}

.scenario {
    display: inline-block;
    margin: 1em;
    vertical-align: top;
}

.scenario div {
    padding: 3px;
}

.scenario-title {
    overflow-x: visible;
    overflow-y: visible;
}

#throughput, #cycletime, #wip {
    font-weight: bold;
}

#numbers {
    /*width: 300px;*/
}

.throughput {
    background-color: rgba(54, 162, 235, 0.1);
    border: rgb(54, 162, 235) solid 1px;
    height: 1em;
}

.cycletime {
    background-color: rgba(255, 99, 132, 0.1);
    border: rgb(255, 99, 132) solid 1px;
    height: 1em;
}

.wip {
    background-color: rgba(255, 206, 86, 0.1);
    border: rgb(255, 206, 86) solid 1px;
    height: 1em;
}

.timeWorked {
    background-color: rgba(211, 211, 211, 0.1);
    border: rgb(211, 211, 211) solid 1px;
    height: 1em;
}

.amount {
    color: darkgray;
    padding-left: 3px;
}
.amount:before {
    content: '('
}
.amount:after {
    content: ')'
}

#board_container {

}

.lineChart, .cfd {
    height: 350px;
}

